PORT=3000
PORT_SOCKET=3001
BASE_URL=mongodb+srv://username:password@cluster.example.mongodb.net/dbname
# BASE_URL=mongodb://127.0.0.1:27017/dbname
JWT_SECRET=dummy_jwt_secret
NODE_ENV=dev
ADMIN_ACCESS_TOKEN=dummy_admin_access_token

API_BASE_URL=http://localhost:3000/api/v1/
EMAIL_VERIFICATION_LINK=http://localhost:3000/api/v1/auth/link/verify-email?token=
EMAIL_VERIFICATION_REDIRECT_URL=http://localhost:3000/
PASSWORD_RESET_LINK=http://localhost:3000/api/v1/auth/link/reset-password/verify?token=
PASSWORD_RESET_FRONTEND_URL=http://localhost:3000/reset-password/

#Azure Blob Storage
AZURE_STORAGE_ACCOUNT_NAME=dummy_storage_account
AZURE_STORAGE_ACCOUNT_KEY=dummy_storage_key
AZURE_STORAGE_CONTAINER_NAME=dummy_container
AZURE_STORAGE_BASE_URL=https://dummy_storage_account.blob.core.windows.net/dummy_container/

# Mailgun settings for email sending
MAILGUN_KEY_ID=dummy_mailgun_key_id
MAILGUN_API_KEY=dummy_mailgun_api_key
MAILGUN_BASE_URL=https://api.mailgun.net
MAILGUN_DOMAIN=example.com

#REDIS settings
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
